[submodule "themes/themes/photo-grid"]
	path = themes/photo-grid
	url = https://github.com/chen-zhe/photo-grid.git
[submodule "themes/hugo-theme-console"]
	path = themes/hugo-theme-console
	url = https://github.com/mrmierzejewski/hugo-theme-console.git
